{% extends 'base.html' %}

{% block title %}
    Заголовок страницы
{% endblock %}

{% block content %}
    <h1>Edit Task</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
         {% if user.username == 'Technician' %}
            <p>Задача: {{ task.task_name }}</p>
            <p>Описание: {{ task.description }}</p>
            <p>Дата выполнения: {{ task.completion_date }}</p>
            <p>Линия: {{ task.line }}</p>
            <p>Смена: {{ task.shift_name }}</p>
        {% endif %}
        {{ form.as_p }}

        <h2>Images</h2>
        {{ formset.management_form }}
        {% for form in formset %}
            {{ form.as_p }}
        {% endfor %}

        <button type="submit">Save Changes</button>
        {% if not user.username == 'Technician' %}
            <button type="submit" name="delete" onclick="return confirm('Are you sure you want to delete this task?');">Delete Task</button>
        {% endif %}
    </form>
{% endblock %}
