{% extends 'base.html' %}

{% block title %}
    Заголовок страницы
{% endblock %}

{% block content %}
    <h1>Список задач:</h1>
{% if task24 %}
        <h2 style="text-align: center;">Линия 24</h2>
        <ul class="task-list">
            {% for task in task24 %}
                <a href="{% url 'edit_task' task.id %}"><li class="task-item">


        <h2>{{ task.task_name }}</h2>
        <div class="task-details">
            <p><strong>Дата выполнения:</strong> {{ task.completion_date }}</p>
            <p><strong>Смена:</strong> {{ task.shift_name }}</p>
            <p><strong>Статус:</strong> {{ task.status }}</p>
            <p><strong>Описание:</strong> {{ task.description }}</p>
        </div>


                </li></a>
            {% endfor %}
        </ul>
    {% endif %}

        {% if task25 %}
            <h2 style="text-align: center;">Линия 25</h2>
          <ul class="task-list">
            {% for task in task25 %}
                <a href="{% url 'edit_task' task.id %}"><li class="task-item">


        <h2>{{ task.task_name }}</h2>
        <div class="task-details">
            <p><strong>Дата выполнения:</strong> {{ task.completion_date }}</p>
            <p><strong>Смена:</strong> {{ task.shift_name }}</p>
            <p><strong>Статус:</strong> {{ task.status }}</p>
            <p><strong>Описание:</strong> {{ task.description }}</p>
        </div>


                </li></a>
            {% endfor %}
        </ul>
    {% endif %}
            {% if task26 %}
                <h2 style="text-align: center;">Линия 26</h2>
          <ul class="task-list">
            {% for task in task26 %}
                <a href="{% url 'edit_task' task.id %}"><li class="task-item">


        <h2>{{ task.task_name }}</h2>
        <div class="task-details">
            <p><strong>Дата выполнения:</strong> {{ task.completion_date }}</p>
            <p><strong>Смена:</strong> {{ task.shift_name }}</p>
            <p><strong>Статус:</strong> {{ task.status }}</p>
            <p><strong>Описание:</strong> {{ task.description }}</p>
        </div>


                </li></a>
            {% endfor %}
        </ul>
    {% endif %}
            {% if task31 %}
                <h2 style="text-align: center;">Линия 31</h2>
          <ul class="task-list">
            {% for task in task31 %}
                <a href="{% url 'edit_task' task.id %}"><li class="task-item">


        <h2>{{ task.task_name }}</h2>
        <div class="task-details">
            <p><strong>Дата выполнения:</strong> {{ task.completion_date }}</p>
            <p><strong>Смена:</strong> {{ task.shift_name }}</p>
            <p><strong>Статус:</strong> {{ task.status }}</p>
            <p><strong>Описание:</strong> {{ task.description }}</p>
        </div>


                </li></a>
            {% endfor %}
        </ul>
    {% endif %}
            {% if task33 %}
                <h2 style="text-align: center;">Линия 33</h2>
          <ul class="task-list">
            {% for task in task33 %}
                <a href="{% url 'edit_task' task.id %}"><li class="task-item">


        <h2>{{ task.task_name }}</h2>
        <div class="task-details">
            <p><strong>Дата выполнения:</strong> {{ task.completion_date }}</p>
            <p><strong>Смена:</strong> {{ task.shift_name }}</p>
            <p><strong>Статус:</strong> {{ task.status }}</p>
            <p><strong>Описание:</strong> {{ task.description }}</p>
        </div>


                </li></a>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}

