<!DOCTYPE html>
<html lang="en">
<!-- Подключение необходимых файлов CSS и JS для Tempus Dominus -->
{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js"></script>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Django Project{% endblock %}</title>

    <!-- Вставьте ссылки на ваши статические файлы CSS, JS, и т.д. -->
</head>
<body>

<header>
    <nav>
<ul class="d-flex my-2" style="padding-top: 20px;">
    <!-- Кнопка "Главная" -->
    <button class="btn btn-sm btn-primary mx-2" onclick="location.href='{% url 'index_mechanics' %}'">Главная</button>

    {% if user.username == 'Mechanic' or user.username == 'admin' %}
        <!-- Кнопка "Создать задачу" -->
        <button class="btn btn-sm btn-primary mx-2" onclick="location.href='{% url 'create_task' %}'">Создать задачу</button>
    {% endif %}

    <!-- Последняя кнопка справа -->
    <div class="ml-auto">
        {% if user.is_authenticated %}
            <!-- Если пользователь аутентифицирован, отображаем кнопку для выхода из системы -->
            <button class="btn btn-sm btn-primary mx-2" onclick="location.href='{% url 'profileOut' %}'">{{ user.username }} | Выйти</button>
        {% else %}
            <!-- Если пользователь не аутентифицирован, отображаем кнопку для входа в систему -->
            <button class="btn btn-sm btn-primary mx-2" onclick="location.href='{% url 'profile' %}'">Авторизация</button>
        {% endif %}
    </div>
</ul>



    </nav>
</header>

<main>
    {% block content %}
        <!-- Здесь будет основное содержимое каждой страницы -->
    {% endblock %}
</main>

<footer>
    <p>&copy; {% now "Y" %} Проект ТО и ППР. Все права защищены.</p>
</footer>

</body>
</html>
